#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.read-the-docs {
  color: #888;
  flex: 1;
}

footer {
  text-align: center;
  padding: 20px 0;
}
